body {
  padding: 15px;
  font-family: sans-serif;
}

strong {
  font-family: cursive;
  font-size: 130%;
}

#header {
  background-color: #e2dde7;
  padding: 30px;
  right: 300px;
  border-top: 15px dashed;  
}

#main-header {
  font-size: 400%;
  font-family: monospace;
}

.links {
  color: #1e1262
}

.links:hover {
  background-color: #7754df;
  color: #cae77a;
  padding: 5px;
  font-size: 15px;
}

#content {
  color: #4e2057;
  float: right;
  border: 3px dotted #4e2057;
  padding: 10px;
  width: 350px;
}

h2 {
  font-family: sans-serif;
}

#one {
  padding: 15px;
  background-color: #dacedc;
}

#two {
  padding: 15px;
  background-color: #a695af
}

#three {
  padding: 15px;
  background-color: #9c79a9
}

#four-five {
  padding: 15px;
  background-color: #664a79
}

#six {
  padding: 15px;
  background-color: #65567a;
  border-bottom: 15px dashed;
}

.to-top {
  float: right;
}

a {
  color: #f6f2f7;
  text-decoration: none;
}

.project {
  text-decoration: underline;
  font-weight: bold;
}

.project:hover {
  background-color: #774484;
  padding: 4px;
}

#milli-slides {
  position: absolute;
  top: 330px;
  right: 150px;
  border: dashed #d445b0;
}
